/*
////////////////////////////////////////////////////////////////////////////
// common
////////////////////////////////////////////////////////////////////////////
*/

body {
	background:#aaa;
	font-family: 'Roboto', Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
	color:#000;
	margin:20px auto;
	text-align:center;
	line-height:1.5em;
	width:95%;
    padding: 100px 0 50px 0;
}

.bg{
	width: 100%;
	height: 100%;
	background-image: url("../data/raster.png");
	position: fixed;
	top: 0;
	left: 0;
	z-index: -90;
}

header, nav, section, footer {
	display:block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 4px #666;
	-moz-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	background-color: #fff;
	color: #000;
}

header {
	text-align:center;
	
	background-color: rgba(25,25,25,0.8);
	border:none;
	color:#fff;
	text-shadow: 0px 0px 4px #000000;
}

section {
	text-align:center;
	margin:0px;
	background-color: rgba(240,240,240,0.95);
	font-size:18px;
}

header h1 {
	font-size: 18pt;
	padding:20px;
	margin:30px;
}

.bg_next {
	background-image: url("../data/bg_next.jpg");
	background-position: center center;
	position: fixed;
	background-attachment: fixed;
	background-size: cover;
	z-index: -91;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


section h1, section h2 {
	font-size:18px;
	padding:6px;
	margin-bottom:15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 4px #666;
	-moz-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	background-color: rgba(25,25,25,0.8);
	color:#fff;
}

/* Tab */
.tab {
	list-style-type:none;
	overflow:hidden;
	cursor : pointer;
}

.tab li {
    background-color: rgba( 255, 255, 255, 0.3);
	padding:5px 25px;
	float:left;
	margin-right:1px;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
}

.tab li.select {
    background-color: rgba( 255, 255, 255, 0.8);
}

.content li {
	list-style-type:none;
	background:#eee;
	padding:20px;
}

.hide {
	display:none;
}

/* Checkbox */

.filter_check_box + .filter_check_box_label {
	background-color: rgba(0,0,0,0);
}

.filter_check_box:checked + .filter_check_box_label {
	background-color: #CCFF00;
}

.filter_check_box_label {
	cursor: pointer;
	padding:5px;
	border: 1px solid #434343;
	border-radius: 5px;
	margin-bottom:40px;
}

input {
	visibility:hidden;
	width : 0px;
	height : 0px;
	margin-bottom:40px;
}

filter {
	margin:0px;
}

/*
//===========================================================================
// BanPick
//===========================================================================
*/

banpick {
	text-align:left;
}

banpick h1 {
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px #666;
	-moz-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	background-color: #fff;
	color: #000;
}

#champion_image {
	width:48px;
	height:48px;
}

#champion_image_text {
    display: inline-block;
    vertical-align: top;
	text-align:center;
	margin:12px;
}

.info_text {
	font-size: 12px;
	text-align:left;
}

banpick hr {
	margin: 0px;
}


/*
//===========================================================================
// OverView
//===========================================================================
*/

#overview {
	min-width:1200px;
	max-width:1200px;
}

.overview {
	overflow:hidden;
	min-width:1200px;
	max-width:1200px;
	font-size:16px;
}

.overview h1 {
	clear:both;
}
/*
//----------------------------------------------------------
// Blue Team
//----------------------------------------------------------
*/

.overview .blueScoreBoard, .overview .redScoreBoard {
	float: left;
	width:50%;
	height:400px;
}

/*
// Team Details
*/

.overview .team-header {
	width:100%;
	height:4%;
	display: table;
	border-top: groove 1px;
	border-bottom: groove 1px;
}

.overview .teamTag {
	float: left;
	width:14.8%;
	display: table-cell;
	vertical-align: middle;
}

.overview .teamWin {
	float: left;
	width:28.4%;
	display: table-cell;
	vertical-align: middle;
}

.overview .teamKDA {
	float: left;
	width:11.5%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.overview .teamSpace {
	float: left;
	width:31.26%;
	height:100%;
}

.overview .teamGold {
	float: left;
	width:13.2%;
}	

.overview .teamTag {
	border-left: groove 1px;
	border-right: groove 1px;	
}

.overview .teamKDA {
	border-left: groove 1px;
	border-right: groove 1px;	
}

.overview .teamGold {
	border-left: groove 1px;
}

.overview .redScoreBoard .teamGold {
	border-right: groove 1px;
}

.overview .redScoreBoard .teamSpace {
	width:31.2%;
}

.overview .redScoreBoard .teamWin {
	width:28.3%;
}

/*
// Player
*/

.overview .players {
	float:left;
	width:100%;
	height:80%;
}

.overview .player {
	height:19.3%;
}

.overview .champion {
	float: left;
	width:10%;
	height:100%;
}

.overview .championImg {
	float: left;
	position: relative;
	width :100%;
	height:100%;
}

.overview .champion img {
	width:100%;
	height:100%;
}

.overview .champion p {
	position: absolute;
	color: white;
	top: 60%;
	left: 5%;
    text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000;
}

.overview .spells {
	float:left;
	width:5%;
	height:100%;
}

.overview .spells .spell {
	float: left;
	width:100%;
	height:50%;
}

.overview .spell img{
	width:100%;
	height:100%;
}

.overview .playerName {
	float: left;
	width:28.4%;
	height:100%;
	display: table;
}

.overview .playerName p {
	display: table-cell;
	vertical-align: middle;
}

.overview .kda {
	float: left;
	width:11.5%;
	height:100%;
	display: table;	
	border-left: groove 1px;
	border-right: groove 1px;
}

.overview .kda p {
	display: table-cell;
	vertical-align: middle;
}

.overview .items {
	float: left;
	width:13%;
	height:100%;
}

.overview .item {
	float: left;
	width:33%;
	height:50%;
}

.overview .items img {
	width:100%;
	height:100%;
}

.overview .trinket {
	float: left;
	width:5%;
	height:100%;
	display: table;
}

.overview .trinketItem {
	display: table-cell;
	vertical-align: middle;
}

.overview .trinketItem img {
	width:89%;
	height:40%;
}

.overview .cs, .overview .gold {
	float: left;
	width:13.2%;
	height:100%;
	display: table;
	border-left: groove 1px;
}

.overview .cs p, .overview .gold p {
	display: table-cell;
	vertical-align: middle;
}

.overview .player {
	border: groove 0px;
}

.overview section {
	height : auto;
}

/*
// Bans Object
*/
.overview .team-ban-object {
	float: left;
	height : auto;
	width:100%;
}


.overview .blueScoreBoard .team-ban-object .bans{
	float: left;
	height:100%;
	width:50%;
	display: table;
}

.overview .redScoreBoard .team-ban-object .bans{
	float: left;
	height:100%;
	width:40%;
	display: table;
}

.overview .blueScoreBoard .team-ban-object .object{
	float: left;
	height:100%;
	width:50%;
	display: table;
}

.overview .redScoreBoard .team-ban-object .object{
	float: left;
	height:100%;
	width:60%;
	display: table;
}

.overview .team-ban-object .bans_txt{
	display: table-cell;
	vertical-align: middle;
	width:10%;
}

.overview .team-ban-object .bans_img{
	float: left;
}

.overview .team-ban-object .bans_img img{
	float: left;
	width:34px;
	height:34px;
}


.overview .team-ban-object .object_contents{
	float: left;
	display: table;
}

.overview .team-ban-object .object .object_canvas{
	float: left;
	width:34px;
	height:34px;
}

.overview .team-ban-object .object .object_txt{
	display: table-cell;
	vertical-align: middle;
	width:25px;
}

/* 
// Line
*/
.overview .blueScoreBoard .playerName {
	border-left: groove 1px;
}

.overview .redScoreBoard .playerName {
	border-right: groove 1px;
}

.overview .redScoreBoard .items {
	border-left: groove 1px;
}

.overview .redScoreBoard .trinket {
	width:4.9%;
}

.overview .player {
	border-bottom: groove 1px;	
}